/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */
/* kaushan-script-regular - latin */
@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: local('Kaushan Script'), local('KaushanScript-Regular'),
         url('../fonts/kaushan-script-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/kaushan-script-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
         url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-regular - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.clearfix::after {
    display: table;
    content: "";
    clear: both;
  }
.container {
    width: 1200px;
    margin: 0 auto;
    
}
.header {
    background-image: -o-linear-gradient(left, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%),
     url("../img/background/bg.jpg");
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(252,227,138,0.9)), to(rgba(243,129,129,0.9))),
     url("../img/background/bg.jpg");
    background-image: linear-gradient(90deg, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%),
     url("../img/background/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 230px;
    
   
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
    .header {
        background-image: -o-linear-gradient(left, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%),
     url("../img/background/bg@2x.jpg");
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(252,227,138,0.9)), to(rgba(243,129,129,0.9))),
     url("../img/background/bg@2x.jpg");
        background-image: linear-gradient(90deg, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%),
     url("../img/background/bg@2x.jpg");

    }
}
  
.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
   margin-bottom: 190px;
    padding: 34px 0;
}
.logotype {
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    
    line-height: 1.2;
    text-align: left;
}

  
.navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.navigation__list-item {
    position: relative;
}
.navigation__list-item:not(:last-child) {
    margin-right: 60px;
}
.navigation__list-item-link {
    font-family: "Monserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  display: block;
  color: #95e1d3;
  text-transform: uppercase;
  line-height: 16px; 
}
.navigation__list-item-icon:hover {
    background-color:  rgb(252,227,138);
}

.navigation__list-item-icon_basket {
    width: 18px;
    height: 15px;
}
.navigation__list-item-icon_glass {
    width: 18px;
    height: 18px;
}
  
  
.navigation__list-item-link:hover {
    color: rgb(252,227,138);
}

  
.navigation__list-item-link:hover::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: rgb(252,227,138) ;
    content: '';
    margin: 12px auto 0;
    -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
            transform: translateY(10px);
    
}
.header__description {
    margin-bottom: 64px;
    font-size: 72px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 64px;
}

  
.header__title {
    font-family:  "Monserrat", sans-serif;
    font-size: 150px;
    font-weight: 700;
    line-height: 0.933;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 124px;
}
.header__title-first {  
    display: block;   
}
.header__title-second {
    display: block;
}
.header__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    width: 164px;
    margin: 0 auto;
    padding: 12px 0;
    min-height: 44px;
}

.heading-work {
    margin: 0 auto;
    padding-bottom: 67px;
    text-align: center;  
    padding-top: 54px;
}

.heading::after {
    display: block;
    width: 60px;
    height: 3px;
    background-color: rgb(243, 129, 129);;
    content: '';
    margin: 34px auto 0;
}

  

.heading__first {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    display: block;
    color: #333333;
    margin-bottom: 26px;
}

.heading__second {
    display: block;
    margin-top: 26px;
    font-family: "Monserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #333333;
    text-transform: uppercase;
}
.services {
    padding-bottom: 106px;
}
.services-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.services-list_item {
  width: 381px;
  padding-bottom: 105px;
  padding-left: 82px;
  background-repeat: no-repeat;
   
}
.services-list_item:nth-child(n+4){
    padding-bottom: 0;
}
.services-list_item_photo {
    background-image: url("../img/servises/alarm.svg");
}

.services-list_item_web {
    background-image: url("../img/servises/line_graf.svg");   
}

.services-list_item_creat {
    background-image: url("../img/servises/computer.svg");   
}

.services-list_item_seo {
    background-image: url("../img/servises/book.svg");  
}

.services-list_item_css {
    background-image: url("../img/servises/home.svg");   
}

.services-list_item_digital {
    background-image: url("../img/servises/image.svg");  
}

.services-list_item_name {
    font-family: "Monserrat", sans-serif;
    font-weight: 400; 
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    margin: 0 auto 10px;
}

.services-list_item_post {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400; 
    font-size: 15px;
    color: #999999;
    line-height: 24px;
    margin: 20px auto 0;
    
} 
.heading-team {
    margin: 0 auto; 
    padding-bottom: 49px;
    text-align: center;  
}
.heading__third {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    display: block;
    color: #333333;
}

.heading__fourth {
    display: block;
    margin-top: 26px;
    font-family: "Monserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #333333;
    text-transform: uppercase;
}

.team__post { 
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400; 
    font-size: 15px;
    color: #999999;
    line-height: 24px; 
    text-align: center;
    width: 940px;
    margin: 0 auto;
    margin-bottom: 96px;
}
.team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 86px;
} 
.team__list-item {
    position: relative;
     width: 380px;
    
 }
 .team__list-item:hover .overlay {
    opacity: 1;
    visibility: visible;

}

.team__list-item-wrapper {
    position: relative;
    margin-bottom: 32px;
}
.overlay {  
    position: absolute;                                                              
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
    -webkit-box-shadow: 10px 10px #95e1d3;
            box-shadow: 10px 10px #95e1d3;
    background-image: -o-linear-gradient(
        left,
        rgba(252, 227, 138, 0.8) 0%,
        rgba(243, 129, 129, 0.8) 100%
    );
    background-image: -webkit-gradient(
        linear,
        left top, right top,
        from(rgba(252, 227, 138, 0.8)),
        to(rgba(243, 129, 129, 0.8))
    );
    background-image: linear-gradient(
        90deg,
        rgba(252, 227, 138, 0.8) 0%,
        rgba(243, 129, 129, 0.8) 100%
    );
    
}
.overlay__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   
     
} 
.overlay__list-item {
    
}
.overlay__list-link {
    display: block;
    
    width: 57px;
    height: 57px;
    background-color: #fce38a;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ffcc99;
    
    
}
.overlay__list-icon {
    
    
}

.overlay__list-link:hover {
    background-color: rgb(243, 129, 129);
    
}
.overlay__list-link {
    fill: rgb(243, 129, 129);;
}
.overlay__list-link:hover {
    fill: #ffffff;
}
  
/*.overlay__list-item-icon-wrapper {
    
   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 129, 129);
    
}*/
.overlay__list-icon_facebook {
    width: 12px;
    height: 26px;
}
.overlay__list-icon_twitter {
    width: 26px;
    height: 21px;
}
.overlay__list-icon_pinterest {
    width: 20px;
    height: 26px;
}
.overlay__list-icon_instagram {
    width: 26px;
    height: 26px;
}
.overlay__list-link {
   
    width: 56px;
    height: 56px;
    background-color: #fce38a;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ffcc99;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   
    
}

  



.team__list-item-name {
    font-family: "Monserrat", sans-serif;
    font-weight: 400; 
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    
    
}
.team__list-item-position {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    color: #999999;
    line-height: 24px;
    text-align: center;
      
}
.works__list {
    font-family: "Monserrat", sans-serif;
    font-weight: 400; 
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    display: block;
    
}
  .works__list-link {
   color: #ef8c8a;
  cursor: pointer;
}

.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
    padding-bottom: 13px;
}
.subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    
}
.subscribe-form__input {
    border: 1px solid #cccccc;
    width: 230px;
    height: 40px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    color: #999999;
    line-height: 24px;
    padding-left: 10px;
  }
.subscribe-form__btn {
    font-family: "Monserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    background-color: #95e1d3;
    width: 150px ;
    height: 40px;
    border: none;
    text-transform: uppercase;
}

.works::before {
    content: "";
    display: block;
    width: 1200px;
    height: 1px;
    background-color: rgb(229, 229, 229);
    margin: 0px auto 10px auto;
    
  }