*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
   font-family: "Roboto", "Arial", sans-serif;
}

.container {
    width: 1110px;
    margin: 0 auto;
    
  }

  .clearfix::after {
    display: table;
    content: "";
    clear: both;
  }
  .header {
      padding-top: 32px;
      padding-bottom: 32px;

  }
  

  .logotype {
    font-family: "Open-sans", "Arial", sans-serif; 
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: #555252;
    float: left;
  }
  .logotype::first-letter {
    color: #1abc9c;
    font-family: "Roboto", "Arial", sans-serif;
    }

 .navigation_list {
     float: right;
     margin-top: 7px;
 }
 .navigation_list_item {
    float: left;
    margin-right: 15px;
 } 

 .navigation_list_item:last-child {
  margin-right: 0;
}

 .navigation_list_link {
  font-family: "Open sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  display: block;
  color: #0f0101;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 11px;
  
 }

 .navigation a:hover {
  color: #1abc9c; 

 }
 .navigation_list_item {
     float: left;
 }
 
 .navigation_list_item:not(:last-child) {
     margin-right: 30px;

 }
  .navigation_list_link {
    font-family: "Roboto", "Arial", sans-serif; 
    font-size: 10px;
    font-weight: 700;
    line-height: 11px;
    color: #0f0101;
  }

 .slider {
  position: relative;
  height: auto;
  
  
 }
 
 .slider::before {
   position: absolute;
   display: block;
   width: 100%;
   height: 100%;
   content: '';
   margin: 0 auto;
   background-color: rgba(0, 0, 2, 0.52);
 }

 .slider-bt {
    position: absolute;
    width: 1110px;
    left: 50%;
    right: 50%;
    top: 224px;
    transform: translateX(-50%);
 }

 .slider-ctrl {
  border: none;
  width: 104px;
  height: 104px;
  background-color: #1abc9c;
 
}

.slider-ctrl-prev {
  float: left;
}

.slider-ctrl-next {
  float: right;
}  

.slides {
  position: absolute;
  width: 800px ;
  left: 50%;
  top: 50%;
  
  color: #ffffff;
  transform: translate(-50%, -50%);
      
}
.slides-image {
  width: 100%;
}

.slides-img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  
}
    
.slides-descr-up { 
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 900; 
  font-size: 60px; 
  color: #ffffff;
  text-align: left;    
}

.slides-descr-down {
  font-family: "Roboto", "Arial", sans-serif; 
  font-weight: 300; 
  font-size: 24px;
  color: #ffffff;
   
}
.row {
  background-color: #e9f0fd;
  padding-bottom: 100px;
}
.row-name {
  padding-top: 103px;
}

.row-list {
  text-decoration: none;
  text-transform: uppercase;
  list-style: none;
  padding: 0;
  margin: 0; 
  padding-top: 82px; 
}
.row-list-collection {
  /*display: block;*/
  width: 255px;
  float: left; 
  cursor: pointer; 
 /* padding-right: 0;*/
  margin-right: 30px;
  padding-bottom: 28px;
  position: relative;
    
}
.row-list-collection:hover .overlay {
  display: block;
}
.row-list-collection:not(:nth-last-child(-n+4)) {
  margin-bottom: 32px;

}
.row-list-collection:nth-child(4n) {
  margin-right: 0;
  padding-right: 0;
}
.row-list-collection .row-list-block {
  background-color: #323232;
}
.row-list-collection a {
  color: #ffffff;
}
.row-name {
    
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 32px;
  color: #515151;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
  padding-top: 102px;
}

  .row-name::after {
    display: block;
    width: 164px;
    height: 7px;
    background-color: #4ec6ab ;
    content: '';
    margin: 0 auto;
    margin-top: 36px;
    
}
.row-list-image {
  float: right; 
  width: 255px;
  /*height: auto;*/
}
.row-list-block {
  float: left;
  width: 100%;
  background-color: #323232;  
}
.row-list-name {
  float: left;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 40px;
  /*width: 204px;*/
  /*height: 40px;*/
  color: #f5f5f5;
  margin: 0;
  padding-left: 13px;
  text-align: center;
}
.row-list-collection:hover .row-list-block{
  background-color: #1abc9c;
}
.row-list-collection a {
  color: #FFFFFF;
}
.row-list-price {
  float: right;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  width: 40px;
  height: 40px;
  color:  #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  text-align: center;
}

.overlay {  
  position: absolute;                                                                  
  width: 255px;
  height: 284px;
  background-color: rgba(0, 0, 0, 0.549);
  top: 0;
  left: 0;
  display: none;
  border: 10px solid rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
}

.overlay_list {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 0;
  list-style: none;
  cursor: pointer;
                                                               
}
.overlay_list_item {
  float: left;
  
}
.overlay_list_item:not(:nth-child(n+3)){
  margin-right: 7px;
}
.overlay_list_item:not(:nth-last-child(-n+1)) {
  margin-bottom: 8px;
}


.overlay_list-clik_basket {
  background-image: url("../img/basket.png");
  background-color: transparent;
  /*width: 164px;
  height: 50px;
  padding-top: 1px;
  background-color: #323232;
  font-family: "Open sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.28px;
  text-transform: uppercase;
  background-position: left;
  float: left;*/
  
}

.overlay_list-clik_basket span {
  vertical-align: middle;
  padding-right: 15px;
 
  
}

.overlay_list-clik {
  width: 50px;
  height: 50px;
  padding: 0;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay_list-clik:hover {
  background-color: #1abc9c;
}

.overlay_list-clik_heart {
  background-image: url("../img/heart.png");
  background-color: transparent;
  
}
.overlay_list-clik_arrow {
  background-image: url("../img/arrow.png");
  background-color: transparent;
  
}
.overlay_list-clik_circle {
  background-image: url("../img/circle.png");
  background-color: transparent;
}
.overlay_list-clik_basket {
  font-family: "Open sans", sans-serif ;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.28px;
  text-transform: uppercase;
  /*background-image: url("../img/basket.png");
  background-color: transparent;*/
  width: 165px;
  background-position: left;
  
}
.cart {
  line-height: 50px;
  
}
.works {
  padding: 42px 0;
  background-color: #323232;
}
.tabs-list {
  width: max-content;
  margin: 0 auto;
}
.tabs-list_btn {
  background-color: transparent;
  border: none;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  background-color: transparent;

}
.activ-tab {
  color: #46bfa9;
}

.tabs-list_item {
  float: left;
}

.tabs-list_item:not(:last-child) {
  margin-right: 6px;
}
  
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}