body {
    font-family: "Playfair Display", "Arial", serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
}
nav {
    display: block;
}
.site-navigation {
    font-size: 14px;
    list-style: none;
    text-align: center;
    padding: 50px;
    width: 100%;
    margin-left: -70px;
    
   }
.site-navigation li { 
   display: inline; /* Отображать как строчный элемент */
   padding: 20px; /* Поля вокруг текста */
   margin: 30px;  
   }
     
.site-navigation a {
    color: #626262;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 24px;  
}
.site-navigation a:hover {
    color: #03a9f4;
}
div {
    display: block;
}
.container {
    width: 100%;
    max-width: 1080px;
    padding: 0 15px;   
    margin: 0 auto;  
}    

.row-list {
    list-style: none; 
}
.row-list-item {
    display: inline-block;
    width: 40%;
    margin: 2em; 
    text-align: justify;   
}
.row-list-image {
    list-style: none;
    width: 100%;
    margin-top: 30px;
}
.row-list-name {
    font-size: 14px;
    line-height: 17px;
    color: #b4ad9e;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 30px; 
}
.row-list-heading {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;  
}
.row-list-post {
    
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
footer {
    display: block;
}
.page-footer button {
    font-size: 20px;
    line-height: 24px;
    color: #626262;
    margin: 100px;
    margin-left: 450px;
    padding: 10px;
    margin-top: 30px;
   
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
